<div class="container scf-recipes-navbar-margin d-flex pt-3 pb-2">

    <a
        class="p-2 link-dark link-offset-2-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover scf-recipes-menu scf-a-link"
        [class.active]="isActive('/own-recipes')"
        routerLink="/own-recipes"
        >
        Tes recettes
    </a>

    <a
        class="p-2 link-dark link-offset-2-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover scf-recipes-menu scf-a-link"
        [class.active]="isActive('/recipes-form')"
        routerLink="/recipes-form"

    >
        Ajout de recette
    </a>

    <form class="d-flex me-auto">
        <input
            class="form-control me-2"
            type="search"
            placeholder="Search"
            aria-label="Search"
        >
        <button
            class="btn btn-outline-secondary"
            type="submit"
        >
            Search
        </button>
    </form>

</div>