<app-recipes-nav></app-recipes-nav>
<div class="container w-50 bg-white p-5">
    <h5>Inscrivez-vous :</h5>

        <form #formRegister="ngForm" (ngSubmit)="registration(formRegister)">
            <div class="mb-3">
                <label
                    for="username"
                    class="form-label"
                >
Login name                </label>
                <input
                    type="text"
                    ngModel
                    name="username"
                    class="form-control"
                    id="username"
                    aria-describedby="emailHelp"
                >
                <div
                    id="emailHelp"
                    class="form-text"
                >
                    We'll never share your email with anyone else.
                </div>
            </div>
            <div class="mb-3">
                <label
                    for="password"
                    class="form-label"
                >
                    Password
                </label>
                <input
                    type="password"
                    ngModel
                    name="password"
                    class="form-control"
                    id="password"
                >
            </div>
            <button
            type="submit"
            class="btn btn-outline-danger"
        >
            Envoyer
        </button>
        </form>
    </div>
