<nav class="navbar navbar-expand-lg navbar-white bg-white fixed-top scf-navbar-color">

    <div class="container-fluid">
        <a
            class="navbar-brand"
            routerLink
        >
            <img
                width="150"
                src="assets/rico.png"
                alt="image"
            >
        </a>

        <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>

        <div
            class="collapse navbar-collapse"
            id="navbarSupportedContent"
        >

            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a *ngIf="authService.isAuth()" class="nav-link" routerLink="/recipes">
                        Recettes
                    </a>
                </li>
                
                <li class="nav-item">
                    <a
                        *ngIf="authService.isAuth()"
                        class="nav-link"
                        routerLink="/menus"
                    >
                        Tes menus
                    </a>
                </li>
                <li class="nav-item">
                    <a
                        *ngIf="authService.isAuth()"
                        class="nav-link"
                        routerLink="/shopping-list"
                    >
                        Liste de courses
                    </a>
                </li>
                <li class="nav-item">
                    <a *ngIf="authService.isAuth()" class="nav-link"
                        routerLink
                    >
                        Favoris
                    </a>
                </li>
            </ul>

            <form
                *ngIf="authService.isAuth()"
                class="d-flex me-auto"
            >
                <input
                    class="form-control me-2"
                    type="search"
                    placeholder="Search"
                    aria-label="Search"
                >
                <button
                    class="btn btn-outline-secondary"
                    type="submit"
                >
                    Search
                </button>
            </form>

            <ul class="navbar-nav mb-2 mb-lg-0">
                <li class="nav-item">
                    <a
                        class="nav-link"
                        href="#"
                        *ngIf="authService.isAuth()"
                    >
                        Hello
                        <span class="badge rounded-pill text-dark">User !</span>
                    </a>
                </li>
            </ul>

            <div *ngIf="authService.isAuth(); else login">
                <button
                    class="btn btn-danger"
                    (click)="logout()"
                >
                    Déconnexion
                </button>
            </div>
            <ng-template #login>
                <button
                    routerLink="/login"
                    class="btn btn-danger"
                    type="submit"
                >
                    Se connecter
                </button>
            </ng-template>

        </div>
    </div>
</nav>