<div class="container">

    <h2 class="scf-home-margin">Les recettes du mois</h2>

    <div class="d-flex flex-wrap justify-content-center">

        <div class="card text-center m-3">
            <img
                class="card-img-top"
                src=assets\images\recette2.png
                alt="pollo"
            >
            <h5 class="card-title pt-2">Soupe au pistou</h5>
            <div class="d-flex justify-content-center">ENTREE</div>
            <div class="card-body">
                <a
                    [routerLink]
                    class="card-link btn btn-outline-danger btn-sm"
                >
                    Voir détail
                </a>
            </div>
        </div>
        <div class="card text-center m-3">
            <img
                class="card-img-top"
                src=assets\images\recette5.png
                alt="pollo"
            >
            <h5 class="card-title pt-2">Soupe au pistou</h5>
            <div class="d-flex justify-content-center">ENTREE</div>
            <div class="card-body">
                <a
                    [routerLink]
                    class="card-link btn btn-outline-danger btn-sm"
                >
                    Voir détail
                </a>
            </div>
        </div>
        <div class="card text-center m-3">
            <img
                class="card-img-top"
                src=assets\images\recette4.png
                alt="pollo"
            >
            <h5 class="card-title pt-2">Soupe au pistou</h5>
            <div class="d-flex justify-content-center">ENTREE</div>
            <div class="card-body">
                <a
                    [routerLink]
                    class="card-link btn btn-outline-danger btn-sm"
                >
                    Voir détail
                </a>
            </div>
        </div>
        <div class="card text-center m-3">
            <img
                class="card-img-top"
                src=assets\images\recette3.png
                alt="pollo"
            >
            <h5 class="card-title pt-2">Soupe au pistou</h5>
            <div class="d-flex justify-content-center">ENTREE</div>
            <div class="card-body">
                <a
                    [routerLink]
                    class="card-link btn btn-outline-danger btn-sm"
                >
                    Voir détail
                </a>
            </div>
        </div>
    </div>
</div>

<div class="bg-danger">

    <div class="container">
        
        <h2 class="scf-home-padding-margin text-light">Bonjour !</h2>

    <div class="d-flex flex-wrap justify-content-center">

        <div class="card text-center m-3">
            <img
                class="card-img-top"
                src=assets\images\recettehomme.png
                alt="Card image cap"
            >

            <div class="card-body">
                <h5 class="card-title">Comment ca marche ? Découvrez Rico</h5>
            </div>
        </div>
        <div class="card text-center m-3">
            <img
                class="card-img-top"
                src=assets\images\recettehomme.png
                alt="Card image cap"
            >
            <div class="card-body">
                <h5 class="card-title">Concours de cuisine - le 9 mars 2024 !</h5>
            </div>
        </div>
    </div>
</div>

    </div>